.DS_Store

# archives and jars
*.zip
*.tgz
*.tar.gz
*.jar

# binary files, terraform folders
.terraform/
.terraform.lock.hcl

# state files
*.tfstate
*.tfstate.*

# variable files
# *.tfvars
# *.tfvars.json

# istio files
istio-*/