replicaCount: 1

image:
  repository: nginx
  tag: latest

service:
  type: LoadBalancer
  port: 80

resources:
  requests:
    cpu: 100m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 128Mi

persistence:
  size: 1Gi

nginxConf: |
  events {}
  http {
    server {
      listen 80;
      location / {
        root /usr/share/nginx/html;
        index index.html;
      }
    }
  }

htpasswd: "admin:$apr1$H6uskkkW$IgXLP6ewTrSuBkTrqE8I/"