{# roles/nginx_app/templates/htpasswd.j2 #}                                                                                                     
{% for user in vault_htpasswd_users %}
{{ user.username }}:{{ user.password | password_hash('bcrypt') }}                                                                               
{% endfor %}